

img {
    width: 60%;
    height: 10%;
    margin-left: 20%;
    padding: 0;
    left: 100%;
    size: 1px;
  }
  p {
    
    text-align: justify;
    font-size: 10pt;
    overflow: auto;
      
     
  }

  