<div>
  <p>
    <i>
 Sistema feito pra contabilixar e organizar as escolas na cidade de rio bonito
    </i>
  
</div>

<div class="text text-accessibility"  style="position: relative;">
  <div class="image-in-text">
       <img src="/assets/R.png" class="thumbnail">
</div>
  <p><br> Sistema fundado em fevereiro de 2023 para contabilizar e organizar, as escolas da cidade de rio bonito.<br>Rio Bonito é um município situado na sub-região Leste Fluminense da Região Metropolitana do Rio de Janeiro,<br>no estado do Rio de Janeiro, Brasil. Localiza-se a uma latitude 22º42'31" sul e a uma longitude 42º36'35" oeste, estando a uma altitude de 40 metros. <i>Sua população estimada em 2021 era de 60.930 habitantes. Possui uma área de 459,458 km².<b>  Da Educação Básica ao presencial e a distância, 
    a Campanha de conatbilizar e organizar Escolas na cidade de Rio bonito, está sendo desenvolvidas para fins não lucrativos 
    </b> A ABC reafirma, todos os dias, o compromisso de cumprir sua Missão por meio de projetos sustentáveis, 
    inovadores, perenes e com foco nos seus alunos e famílias,</i> nas comunidades e região onde estão inseridos e na promoção do conhecimento para a humanidade.
    <br><br>

  </div>