/* HeroesComponent's private CSS styles   <label>&#9776;</label> */
h2{

  text-align: center;
font-size: 40pt;
background: #edf4cc;
margin-bottom: 1em;



}

.escolas {

  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
  
}

input {
  display: block;
  width: 40%;
  padding: .3rem;
  margin: 0rem 0;
  box-sizing: border-box;
}
 .button-delete{ 
  border: none;
  background: none;
  padding: 0.1em 0.3em;
  box-sizing: border-box;

 }

.escolas li:hover {
  left: .1em;
}





button:hover {
  background-color:rgb(6, 6, 241);
  color: white;
}
button:disabled {
  background-color: #e90c0c;
  color: #f60d0d;
  cursor: auto;
}
.btn-link {

  
  color: rgb(225, 11, 11);
 
  
  
}


 