
.container{
  background-image: url( /assets/login.png.jpg );



}




h5{
  color: rgb(39, 5, 5);
  text-align: center;
  font-size: 40pt;
  justify-content: center;

  
}

button{
    text-align: center;
    color: rgb(40, 39, 40);
    padding: 0.2rem;
    padding: 10px;
    width: 200px;
    height: 50px;
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    border-radius: 4px;
    white-space: normal;

    
}

label{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    color: rgb(238, 160, 5);
}

button:hover{
    background-color: rgb(67, 67, 68);

}

a {

    color: #380de6;
}

.border{

  opacity: 100%;
}
