*{
  margin: 0%;
  padding: 0%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  box-sizing: border-box;
  
  
}

a {  
 text-decoration: none;
 color: rgb(244, 244, 211);
 transition: 4s;
}

a:hover {
     color: rgb(213, 234, 254);

}


