


<h2>controle de EScolas</h2>

<ul>
    <li *ngFor="let escola of ESCOLA">
      <button type="button" (click)="onselect(escola)">

        <span class="badge">{{escola.id}}</span>
        <span class="name">{{escola.name}}</span>
       
      </button>
    </li>
</ul>

<div *ngIf="selectedEscola">
<h2>{{selectedEscola.name | uppercase}} detalhes</h2>
<div><span>id: </span> {{selectedEscola.id}} 
    <button type="button">id</button>

</div>
    
</div>

<div>
  <label for="nova-escola">nome da Escola:</label>

  <input id="nova-escola"  [(ngModel)]="escola" placeholder="name"/>

  <button type="button"  class="add-button"  (click)="adicionaEscola()">adicionar escola

  </button>

  <button type="button" class="add-button" (click)="estouPegando()"> estou pegando</button>
   

</div>