

  
     
  
    <div *ngIf="exibeEscola">
        <h2><b>Escolas</b></h2>

        <ul>
            <li *ngFor="let escola of escolas">
              <button type="button" (click)="onselect(escola)">
              <span class="name">{{escola.name}}</span></button>
              <input  [(ngModel)]="escola.name" *ngIf="escola.editar"/>
              <button type="button" class="delete" (click)="deletar(escola)">x</button>
              <button type="button" class="editar" (click)="editar(escola)">editar</button>
        </li>
        </ul>


      <div>
          <label for="nova-escola">nome da Escola:</label>

          <input id="nova-escola"  [(ngModel)]="escolaName" placeholder="name:"/>

          <button type="button"  class="add-button"  (click)="adicionaEscola()">Adicionar escola

          </button>   
            
      </div>
   </div>
  
  

<div *ngIf="Alunosclass">

  <h2>Controle de Alunos</h2>

  <ul>
      <li *ngFor="let Aluno of Alunos">
        <button type="button" (click)="onselected(Aluno)">
        <span class="name">{{Aluno.name}}</span></button>
        <input  [(ngModel)]="Aluno.name" *ngIf="Aluno.editar"/>
        <button type="button" class="delete" (click)="deletarAluno(Aluno)">x</button>
        <button type="button" class="editar" (click)="editarAluno(Aluno)"> editar </button>
  </li>
  </ul>

  <div>
    <label for="novo-Aluno">nome do Aluno:</label>

    <input id="novo-Aluno"  [(ngModel)]="Aluno" placeholder="name"/>

    <button type="button"  class="add-button"  (click)="adicionarAluno()">Adicionar Aluno

    </button>   

    </div>
    <button (click)="voltar()">back</button>
</div>

<app-turmas *ngIf="exibeTurma" [Turmas]="this.Turmas" (closeTurma)="exibirEscola($event)"></app-turmas>